@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background-image: linear-gradient(
    to right,
    #830600,
    #b30a05,
    #de4303,
    #e7ac10,
    #e7ac10
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "inter";
}
.gradient-bg {
  background-image: linear-gradient(
    to right,
    #830600,
    #b30a05,
    #de4303,
    #e7ac10,
    #e7ac10
  );
}
.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
}
