@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background-image: linear-gradient(
    to right,
    #830600,
    #b30a05,
    #de4303,
    #e7ac10,
    #e7ac10
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 60px;
  font-weight: 800;
  font-family: "inter";
}
/* 
@keyframes slide1 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-250%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-250%);
  }
}

@keyframes slide3 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-250%);
  }
}

.animate-slide1 {
  animation: slide1 2s linear infinite;
}

.animate-slide2 {
  animation: slide2 2s linear infinite;
  animation-delay: 2s;
}

.animate-slide3 {
  animation: slide3 2s linear infinite;
  animation-delay: 4s;
} */

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  color: #b00a0a;
  border-radius: 50%;
  border: transparent;
  padding: 5px;
}
